
/* Language: css */
/* Path: style\style.css */


/* body */
body {
    align-items: center;
    background-color: #808e95;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    margin: auto;
    width: 60%;
    border-radius: 10px;
}



#footer {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #f5f5f5;
    width: 60%;
}

#logo {
    display: flex;
    justify-content: center;
}

/* Hoved container*/
#container {
    align-items: center;
}

#menu {
    display: flex;
    margin: auto;
    width: 60%;
    background-color: #f5f5f5;
    border-color: #0f0809;
    margin-top: 10px;
    border-radius: 20px;
}

#menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

#menu-heading {
    display: flex;
    justify-content: center
}

.menu-item {    
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-color: #808e95;
    margin: 10px;
    width: 40%;
    padding: 10px;
    background-color: #ffffff;
}

#menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    background-color: #f5f5f5;

}

.menu-item-header {
    font-weight: bold;
}

.menu-item-description {
    font-style: italic;
}

.menu-item-allergens {
    font-style: oblique;
}